{% extends 'main.html' %}
{% load static %}
{% block content %}
  <div class="container text-center">
    <div class="row">

      <div class="col-8">
        <br />

        <div class="alert alert-dark" role="alert">
          <div class="container">
            <div class="row">
              <div class="col-2">
                {% if meep.user.profile.profile_image %}
                  <img src="{{ meep.user.profile.profile_image.url }}" width="95" height="95" class="rounded-circle" alt="{{ profile.profile.username }}" />
                {% else %}
                  <img src="{% static 'images\dumprofile.png' %}" width="95" height="95" class="rounded-circle" alt="..." />
                {% endif %}
              </div>
              <div class="col-10">
                {{ meep.body }}
                <br />
                <small class="text-muted">
                  {{ meep.created_at }} <br />
                  by @{{ meep.user.username }} <br />
                  - {{ meep.number_of_likes }}

                  {% if user in meep.likes.all %}
                    <a href="{% url 'meep_like' meep.id %}"><i class="fa-solid fa-heart" style="color: red;"></i></a>
                  {% else %}
                    <a href="{% url 'meep_like' meep.id %}"><i class="fa fa-heart-o" style="color: red;"></i></a>
                  {% endif %}&nbsp; &nbsp;{% if request.user.username == profile.user.username %}
                    <a href="{% url 'edit_meep' meep.id %}"><i class="fas fa-trash-alt" style="color: red;"></i></a> &nbsp; &nbsp;
                    <a href="{% url 'delete_meep' meep.id %}"><i class="fa fa-edit" style="color: red;"></i></a>
                  {% endif %}
                </small>
              </div><br /><br />
            </div>
          </div>
        </div>
      </div>

      <br /><br /><br />
      {% if form %}
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn btn-secondary">Edit Meep</button>
        </form>
      {% endif %}
    </div>
  </div>
{% endblock %}
